body {
    font-family: sans-serif;
    background: #cbe5e5;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    user-select: none;
}

#top-menu, #stat-bar {
    position: fixed;
    z-index: 99;
    min-width: 800px;
}

#top-menu {
    top: 0;
    margin: .5em;    
    padding: .25em;
    border-radius: 2px;
}

#stat-bar {
    top: 4em;
}

.bar {
    height: .8em;
    width: 10em;
}

.bar-title {
    margin: .25em;
}

#job-title, #wallet, .bar-title {
    display: inline;
    font-size: .75em;
}

#job-title, #wallet {
    margin: 1em;
}

.menu-button {
    background: #e4cbcb;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    padding: .75em;
    margin: .25em;
    border: 1px outset white;
    border-radius: 5px;
}

#start {
    background: #2b5555;
    color: white;
}

.menu-button:hover {
    border: 1px inset #874545;
    cursor: pointer;
}

.menu-window {
    display: none;
    margin-top: 6em;
    border: 1px solid black;
    padding: .25em;
    width: 95%;
    max-width: 800px;
    height: 600px;
}